@model IEnumerable<CrazyCarRental.Models.Car>

@{
	ViewData["Title"] = "Car Listing";
}

<h1>Available Cars</h1>

@* <div class="my-5">
	<form asp-action="Index" method="get">
		<label for="make">Make:</label>
		<input type="text" name="make" id="make" value="@Context.Request.Query["make"]" placeholder="Search by Make" />
 
		<label for="model">Model:</label>
		<input type="text" name="model" id="model" value="@Context.Request.Query["model"]" placeholder="Search by Model" />
 
		<label for="minPrice">Min Price:</label>
		<input type="number" name="minPrice" id="minPrice" value="@Context.Request.Query["minPrice"]" placeholder="Search by min Price" />
 
		<label for="maxPrice">Max Price:</label>
		<input type="number" name="maxPrice" id="maxPrice" value="@Context.Request.Query["maxPrice"]" placeholder="Search by max Price" />
 
		<button type="submit" class="search-button">Search</button>
	 </form>
 </div> *@

<div>
	 @foreach(var car in Model)
	 {
			 <div class= "car-card">
				 <h2 > @car.Make @car.Model </h2>
				 <p> Price per Day: @car.PricePerDay €</p>
				 <p>@(car.IsAvailable ? "Available" : "Not Available") </p>
				 <a href = "@Url.Action("Details", "Car", new { id = car.CarId})">View Details</a>
			 </div>
	 }
 </div>

<style>
	.car-card {
		border: 1px solid #ddd;
		padding: 15px;
		margin: 10px 0;
		background-color: #f9f9f9;
	}
</style>